<% include header.ejs %>

    <div class="custom-header py-3 pt-md-5 pb-md-4 mx-auto">
        <h1>Welcome</h1>
        <p>osu! koko download beatmaps automatically! (Now working in old site!)</p>
        <p>Features:</p>
        <ul>
            <li>Automatic beatmaps downloads (without videos can be configured in options).</li>
            <li>koko!tracker (get your pp and ranks data of all osu! modes).</li>
            <li>Download counter.</li>
            <li>Working in old and new site.</li>
            <li>...and more.</li>
        </ul>
        <p>You should know the following:</p>
        <ul>
            <li>This is <strong>NOT</strong> an official osu! extension.</li>
            <li>Keep in mind that osu! has a formidable feature to download beatmaps for those who buy the <a class="a" href="https://osu.ppy.sh/store/products/208" target="_blank">osu! suppoerter tag.</a></li>
        </ul>
        <img src="https://k62.kn3.net/4/2/F/3/E/6/0DA.png" class="img-fluid img-thumbnail" alt="koko-chan by Xeek">
        <p>Fan art by <a href="https://aminoapps.com/p/8zrgyv" target="_blank">Xeek</a> </p>
                
    </div>
    <% include footer.ejs %>